<h1 align="center">DROP US A MESSAGE</h1>
<form>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
            <label class="form-label" for="name">Name</label>
          <input type="text" id="name" class="form-control" />
          
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
            <label class="form-label" for="email">Email</label>
          <input type="email" id="email" class="form-control" />
          
        </div>
      </div>
    </div>
    <label class="form-label" for="message">Your message</label>
    <div class="form-outline">
        <textarea class="form-control" id="message" rows="5" placeholder="Type your message here.."></textarea>
        
      </div>
      <div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button></div>
  </form>
